{% extends "app/layout.html" %}
{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

{% if latest_question_list %}
    <form method="POST" class="post-form" >{% csrf_token %}
            <select name="filtro">
                    <option value="default">--Default--</option>
                {% for topic in topicList %} 
                    <option value="{{ topic }}">{{ topic }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="save btn btn-default">Filtrar</button>
    </form>
    
    <ul>
    {% for question in latest_question_list %}
        {% if filter == "default" or filter == question.topic_text %}
            <li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
  
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% if request.user.is_authenticated %}
<a href="{% url 'add' %}"><h2>Insertar pregunta</h2></a> 
{% endif %}

{% endblock %}